@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 203 44% 38%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 259 14% 77%;
    --accent-foreground: 259 14% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 203 44% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 203 44% 10%;
    --foreground: 210 20% 98%;
    --card: 203 44% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 203 44% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 203 44% 38%;
    --secondary: 203 44% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 203 44% 15%;
    --muted-foreground: 203 44% 65%;
    --accent: 259 14% 77%;
    --accent-foreground: 259 14% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 44% 15%;
    --input: 203 44% 15%;
    --ring: 259 14% 77%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-border-hover {
    @apply relative overflow-hidden;
  }

  .animated-border-hover::before {
    content: '';
    @apply absolute -top-[99950%] -left-[99950%] w-[200000%] h-[200000%] bg-no-repeat opacity-0 transition-opacity duration-500;
    background-image: conic-gradient(
      from 180deg at 50% 50%,
      #ff2a2a 0deg,
      #ff7a2a 60deg,
      #f5ff2a 120deg,
      #2aff5e 180deg,
      #2addff 240deg,
      #702aff 300deg,
      #ff2aef 360deg
    );
    animation: rotate 4s linear infinite;
  }

  .animated-border-hover:hover::before {
    @apply opacity-100;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
